body {
    background-color: bisque;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color:red;
}
h2 {
    text-align: center;
    color:red;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: red; 
border-radius: 15%;
}

.project img{
    width: 300px;
    
    margin: 10px;
    border: 2px solid black; 
    display: block;
    margin: auto;
    }

 a{ 
        text-decoration: none;
        text-align: center;
        color: black;
        }
.project p { 
        text-align: center;
        margin: 15px;
        }

 .about{
            display:flex;
            flex-wrap:wrap;
            margin-right: 100px;
            margin-left: 100px;
            justify-content: center;
            }
            
.about p {
            width:50%;
            text-align: center;
            margin: auto;
            line-height: 125%;
            }
.about img {
            width: 150px;
            height: 200px;
            border-radius: 25%;
            border: 2px solid rgb(126, 14, 201);
            }